html {
  font-size: 62.5%;
}

body {
  background-color: #000;
}

#okta-sign-in.auth-container.main-container {
  background-color: #000;
  text-align: center;
  color: #ddd;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#okta-signin-username,
#okta-signin-password,
#okta-signin-submit {
  border-radius: 30px;
  outline: none;
}

#input7 {
  margin: 1rem;
}

#okta-signin-submit, #logout {
  width: 30rem;
  height: 4rem;
  color: white;
  background-color: dodgerblue;
  outline: none;
  border: 3px solid white;
  margin-bottom: 2rem;
}

#okta-signin-submit:hover, #logout:hover {
  background-color: rgb(49, 49, 207);
}


.okta-form-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#okta-signin-password {
  margin-bottom: 2rem;
}

#okta-signin-password,
#okta-signin-username {
  padding: 0.5rem;
}

#messageBox {
  font-size: 2rem;
  text-align: center;
  background-color: black;
  color: #ddd;
}

h1 {
  color: #ddd;
}


header {
  position: fixed;
  background-color: green;
  width: 100%;
  color: white;
  z-index: 1;
  font-size: 1.6rem;
}

main {
  padding-top: 6rem;
}

.nav ul {
  list-style-type: none;
  margin-right: 10px;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 0 0.8rem;
}

a,
a:focus {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

li:hover {
  transform: scale(1.5);
  text-shadow: 0 0 5px rgb(79, 153, 238);
}
