html {
  font-size: 62.5%;
}

body {
  background-color: #272673;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%2318718f' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%231d8aad' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%2318718f' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%231d8aad' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2322a2cc' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%238f4954' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23ad5866' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23cc6878' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23ad5866' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%238f4954' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23cc6878' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%238f4954' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23cc6878' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23ad5866' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23cc6878' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  height: 200vh;
}

#okta-sign-in.auth-container.main-container {
  text-align: center;
  color: #ddd;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#okta-signin-username,
#okta-signin-password,
#okta-signin-submit {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1.5rem;
  outline: none;
  width: 90%;
}

#okta-signin-username,
#okta-signin-password {
  border: 1px solid #ced4da;
  outline: 0;
  transition: border 0.15s, box-shadow 0.15s;
}

#okta-signin-username:focus,
#okta-signin-password:focus {
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 5px #b9d3fa;
}

#okta-signin-submit {
  background: #0d6efd;
  border: 0;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
}

#input7 {
  margin: 1rem;
}

#okta-signin-submit {
  background: #0d6efd;
  border: 0;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-align: center;
}

#okta-signin-submit:hover {
  background: #0759d3;
}

.okta-form-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#okta-signin-password {
  margin-bottom: 2rem;
}

#okta-signin-password,
#okta-signin-username {
  padding: 0.5rem;
}

#message-box {
  margin-top: 1rem;
  text-align: center;
  background-color: dodgerblue;
  color: #ddd;
  width: 100vw;
  min-width: 300px;
  height: 10%;
  overflow: hidden;
  padding: 0.7rem;
  font-size: 1.6rem;
}

#messageBox {
  text-align: left;
  padding: 1rem;
}

h1 {
  color: #ddd;
}

header {
  display: block;
  position: fixed;
  background-color: green;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}

main {
  padding-top: 5rem;
  display: inline-block;
  width: 100%;
}

.nav ul {
  list-style-type: none;
  margin-right: 10px;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 0 0.8rem;
}

#navigation-bar a,
#navigation-bar a:focus {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#navigation-bar li:hover {
  transform: scale(1.5);
  text-shadow: 0 0 5px rgb(79, 153, 238);
}

.link {
  color: white;
}
.link:hover {
  color: white;
}

.description {
  color: #ddd;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  box-shadow: 0 0 3px 3px #272673;
  width: 50%;
}

article {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
